{% extends "base.html" %}

{% block content %}
    <h4>{{ job_post.published_at }}</h4>

    <h2>{{ job_post.title }}</h2>

    <h3>
        <a href="/category/{{ job_post.category.slug }}">
        {{ job_post.category }}
        </a>
    </h3>
    <h3>
        <a href="/place/{{ job_post.place.id }}">
        {{ job_post.place }}
        </a>
    </h3>


    <h5>Description</h5>
    {{ job_post.description }}

    <h5>Requirements</h5>
    {{ job_post.requirements }}

    <h5>About the company</h5>
    {{ job_post.about_the_company }}

    <h5>Contact</h5>
    {{ job_post.contact_person }}
    <a href="mailto:{{  job_post.contact_email }}">
    {{ job_post.contact_email }}
    </a>

    {% if job_post.web_page %}
      <h5>More info at</h5>
      {{ job_post.web_page }}
    {% endif %}

    <h6>Viewed {{ job_post.times_viewed }} times</h6>
{% endblock %}
